@charset "UTF-8";

        footer{
            border-top:1px solid gray;
            padding:20px;
            text-align: center;
            display:flex;
            flex-direction: column;
        }
        footer ul{
        	display:flex;
        	font-size: 8px;
        }
        footer div{
        	font-size: 8px;
        }
        .content{
            display:flex;
           	justify-content: space-between;	            
        }