@charset "UTF-8";


		/*============================================================= 
			프로그램 전체에 적용할 것 
		=============================================================*/
		ul {
  			list-style:none;
  		}
  				


		/*============================================================= 
			layout 전체를 담는 틀 
		    - div태그로 되어 있다. 
		=============================================================*/
        .container{
        	/* 태그는 원래 작지만 자식 태그들에 의해서 그 크기가 늘어난다. 
        	     하지만 100%로 크기를 주면 나머지 빈공간을 모두 채울만큼 커진다.*/
        	height:100%; 
        	width:100%;
        	/* display의 flex 설정은 
        	     설정한 태그 하위의 태그들을 가로 또는 세로로 정렬한다. */
            display: flex;
            /* flex의 정렬 방향 설적은 flex-direction속성을 사용하고 
               column은 세로 정렬 , row는 가로정렬이다. */
            flex-direction: column;
            /* border속성은 태그의 테두리를 표시한다. */
            border: 1px solid black;
        }
        


		/*=============================================================
			layout의 상단
			- 로고 , 로그인 메뉴 , 메뉴 등이 들어간다. 
		==============================================================*/
        header{
            width:100%;
            
        	/* display의 flex 설정은 
        	     설정한 태그 하위의 태그들을 가로 또는 세로로 정렬한다. 
        	   flex-direction설정을 주지 않으면 가로정렬(row)를 한다. */ 			           
            display:flex;
            
            /* flex의 정렬 방향 설적은 flex-direction속성을 사용하고 
               column은 세로 정렬 , row는 가로정렬이다. */
            flex-direction: column;
            
            /* border속성은 태그의 테두리를 표시한다.*/
            border: 1px solid black;
            
            /* 바닥 부분에만 테두리를 표시한다.*/
            border-bottom:1px solid gray;
        }
  

  		
  		/*============================================================== 
  			layout의 가장 중앙 
  			- nav , index , aside 등이 들어 간다. 
  		==============================================================*/
  		section{
  		    /* display의 flex 설정은 
        	     설정한 태그 하위의 태그들을 가로 또는 세로로 정렬한다. 
        	   flex-direction설정을 주지 않으면 가로정렬(row)를 한다. */ 			           
            display:flex;
  			/* border속성은 태그의 테두리를 표시한다.*/
  			border: 1px solid black;
  			/**/
  			height: 690px;
  		}

  		
  		
  		/*==============================================================
  			layout의 하단
  			- 회사정보와 저작권 관련 정보가 들어간다. 
  			- 고객지원 관련 메뉴가 들어간다. 
  		===============================================================*/
  		footer{
  			/* border속성은 태그의 테두리를 표시한다.*/
  			border: 1px solid black;
  		}
  		
