@charset "EUC-KR";


.navbar{
	font-size: 17px;	
	margin-bottom: 0px;
}
.dropdown-menu>li>a{
	font-size: 17px;	
	display: block;
    padding: 7px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
} 